body {
  width: 700px;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: #ffff;
}

h1,
h2 {
  color: #4a4e69;
  text-align: center;
}

a {
  color: #9a8c98;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #c9ada7;
}

button {
  background-color: #4a4e69;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #22223b;
}

.button {
  display: inline-block;
  background-color: #4a4e69;
  color: #fff;
  margin: 10px 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #22223b;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.logout {
  max-width: 200px;
  /* フォームの最大幅を設定 */
  margin: 0;
  /* 中央に配置 */
  padding: 10px;
  /* 内側の余白を設定 */
}